/* esconder input por defecto */
input[type='radio'] {
    display: none
}

.categories input:checked ~ .checkmark {
    background-color: rgb(73, 73, 73);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
.categories input:checked ~ .checkmark::after {
    display: block;
}

.is-current {
    background-color: #e13b3b;
}

.is-disabled {
    pointer-events: none;
    opacity: 0.8;
    cursor: not-allowed;
}