@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
  background-color: #fff;
  min-height: 100dvh;
}


ion-icon {
  color: #792323;
  font-size: 42px;
  cursor: pointer;
}

